{% extends "base.html" %}
{% load custom_filters %}

{% block head %}
<title>Breakdown - Sample: {{sampleA}} vs. {{sampleB}}</title>
<script src="http://d3js.org/d3.v3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/sequences.css"/>
{% endblock %}

{% block body %}
<div class="container">
  <table>
   <tr><td colspan = "4" id="sequence" class="sequence" ></td></tr> 
   <tr>
      <td id = "container_1">
	<a href = "{% url 'biomburst' id sampleA %}"><h3>Sample {{sampleA}}</h3></a>
	<div id="chart_1" class="chart" ></div>
	<div id="explanation_1" class="explanation" style= "top:-275px;left:110px;visibility: hidden" ><span class="percentage" id="percentage_1"></span> <br /> of sample {{sampleA}}</div>
      </td>
      <td id = "legend_1" class = "legend" style = "vertical-align:top;font-size: 0.8em;left:0px;"></td>
      <td id = "container_2" style = "padding-left:20px;">
	<a href= "{% url 'biomburst' id sampleB %}"><h3>Sample {{sampleB}}</h3></a>
	<div id="chart_2" class="chart" ></div>
	<div id="explanation_2" class="explanation" style= "top:-275px;left:110px;visibility: hidden" ><span class="percentage" id="percentage_2"></span> <br /> of sample {{sampleB}}</div>
      </td>
      <td id = "legend_2" class = "legend" style ="vertical-align:top;font-size: 0.8em;left:0px;"></td>
    </tr>
 
  </table>
</div>



<script type="text/javascript" src="{{ STATIC_URL }}/js/sequences.min.js"></script>
<script type="text/javascript">
  //Dimensions of legend item: width, height, spacing, radius of rounded rect.
  var li = {w: 150, h: 20, s: 3, r: 3};
  var   bb = { w: 140, h: 30, s: 3, t: 10};
  var sw = "#sequence", bw = 800;
  d3.json( '{% url 'json_biomburst' uid=uid sample=sampleA %}', function(error, json) {
  if (error){return console.warn(error);}
  var clr;
  clr = json[1];
  graph1 = new Sun_Burst(400, 450, bb , clr, 1);
  graph1.setBreadWidth(sw,bw);
  graph1.createVisualization(json[0], li);
  });

  d3.json( '{% url 'json_biomburst' uid=uid sample=sampleB %}', function(error, json) {
  if (error){return console.warn(error);}
  var clr;

  clr = json[1];
  graph2 = new Sun_Burst(400, 450, bb , clr, 2);
  graph2.setBreadWidth(sw,bw);
  graph2.createVisualization(json[0], li);
  });

</script>


{% endblock %}

