{% extends "base.html" %}
{% load widget_tweaks %}

{% block head %}
<title>File Form</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-7">
	  <div class = "well">
	  <h4>Sample Data</h4>
	  <div >
	    <ul><li><a href = "{{ STATIC_URL }}sample/sample.fasta">sample fasta</a></li><li><a href = "{{ STATIC_URL }}sample/sample.ids">sample ids</a></li></ul>
	  </div>
	  </div>
          <div class="well"> 

	      <div class="col-md-12">
	
                    <form role="form" enctype="multipart/form-data" method="post" action=".">

                        <div class="form-group{% if form.fasta_File.errors %} has-error{% endif %}">
                            <label for="id_fasta_File">Fasta File </label>
                            <span class="info glyphicon glyphicon-info-sign pull-right" data-content="Valid Fasta format in which the sequence IDs match those found in the id file" data-placement="top" data-toggle="popover" data-trigger="hover"></span>

                            {{ form.fasta_File }}

                            {% if form.fasta_File.errors %}
                            <span class="help-block">
                                <ol>
                                    {% for error in form.fasta_File.errors %}
                                    <li><strong> {{ error|escape }} </strong></li>
                                    {% endfor %}
                                </ol>
                            </span>
                            {% endif %}
                        </div>

                        <div class="form-group{% if form.sample_File.errors %} has-error{% endif %}">
                            <label for="id_sample_File">Id File </label>
                            <span class="info glyphicon glyphicon-info-sign pull-right" data-content="A listing of sample ids" data-placement="top" data-toggle="popover" data-trigger="hover"></span>

                            {{ form.sample_File }}

                            {% if form.sample_File.errors %}
                            <span class="help-block">
                                <ol>
                                    {% for error in form.sample_File.errors %}
                                    <li><strong> {{ error|escape }} </strong></li>
                                    {% endfor %}
                                </ol>
                            </span>
                            {% endif %}

                        </div>

			<fieldset>
			  <legend>Clade:</legend>
                       <div class="form-group{% if form.clade_evalue.errors %} has-error{% endif %}">
                            <label for="clade_e_value">E-value </label>
                            <span class="info glyphicon glyphicon-info-sign pull-right" data-content="E-value utilized by blast" data-placement="top" data-toggle="popover" data-trigger="hover"></span>
			    {{form.clade_evalue}}
                        </div>
                        <div class="form-group{% if form.clade_evalDiff.errors %} has-error{% endif %}">
                            <label for="clade_e_valueDiff">E-value Difference</label>
                            <span class="info glyphicon glyphicon-info-sign pull-right" data-content="?????" data-placement="top" data-toggle="popover" data-trigger="hover"></span>
			    {{form.clade_evalDiff}}
                        </div>
			</fieldset>

			<fieldset>
			  <legend>Subtype:</legend>
			  <div class="form-group{% if form.subtype_evalue.errors %} has-error{% endif %}">
                            <label for="subtype_evalue">E-value</label>
                            <span class="info glyphicon glyphicon-info-sign pull-right" data-content="?????" data-placement="top" data-toggle="popover" data-trigger="hover"></span>
			    {{form.subtype_evalue}}
                          </div>
			</fieldset>

			<fieldset>
			  <legend>Resolve Multiple Hits:</legend>
                        <div class="form-group{% if form.resolveMulti_similarity.errors %} has-error{% endif %}">
                            <label for="resolveMulti_similarity">Similarity</label>
                            <span class="info glyphicon glyphicon-info-sign pull-right" data-content="?????" data-placement="top" data-toggle="popover" data-trigger="hover"></span>
			    {{form.resolveMulti_similarity}}
                        </div>


                        <button class="btn btn-default" type="submit">Submit</button>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="well">
                <h2>Lorem Ipsum</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel ligula augue. In sed nunc non dui congue hendrerit. Proin quis ligula ornare massa sollicitudin mattis. In quis arcu vitae nisi consectetur interdum. Curabitur sodales massa at arcu vulputate interdum tempor eu massa. Morbi eget lorem ipsum. Aliquam egestas rhoncus venenatis.</p>

                <p>Nam in diam purus. Vestibulum scelerisque leo at quam varius posuere. Donec vestibulum sem nec lectus dapibus gravida. Ut posuere, erat aliquet dapibus pellentesque, velit dui malesuada purus, at mattis turpis tellus a augue. Fusce sed molestie purus. Phasellus gravida ligula eu gravida molestie. Vestibulum sit amet odio commodo ipsum congue dapibus. Vestibulum tempus arcu eget mi posuere vehicula. Nullam quis placerat tellus, at luctus mauris. Sed id erat non arcu pellentesque dignissim. Vivamus et lobortis risus. Integer aliquam sapien erat, eget malesuada quam auctor non. Cras fringilla quam ligula, at malesuada erat fringilla eu. Cras ullamcorper vestibulum elit id mollis. Proin elementum risus et mauris convallis, vitae dapibus est cursus. Quisque rhoncus tristique interdum.</p>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input type="text" placeholder="112.1382325231.99" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">Go!</button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $('.info').popover()
</script>


<!--<script type="text/javascript">-->
    <!--$(document)-->
    <!--.on('change', '.btn-file :file', function() {-->
            <!--var input = $(this),-->
            <!--numFiles = input.get(0).files ? input.get(0).files.length : 1,-->
            <!--label = input.val().replace(/\\/g, '/').replace(/.*\//, '');-->
            <!--input.trigger('fileselect', [numFiles, label]);-->
            <!--});-->
    <!--$(document).ready( function() {-->
            <!--$('.btn-file :file').on('fileselect', function(event, numFiles, label) {-->
                <!--var input = $(this).parents('.input-group').find(':text'),-->
                <!--log = numFiles > 1 ? numFiles + ' files selected' : label;-->
                <!--if( input.length ) {-->
                <!--input.val(log);-->
                <!--} else {-->
                <!--if( log ) alert(log);-->
                <!--}-->
                <!--});-->
            <!--}); -->
    <!--</script>-->

{% endblock %}

